<!--
  Generated template for the TaskGridPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ 'Zadania' }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>

    <ion-card-header>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-datetime class="button" displayFormat="DD MMMM YYYY" [(ngModel)]="jakis" [monthNames]="nazwyMiesiecy"></ion-datetime>
      </ion-item>

    </ion-card-header>


    <ion-card-content>
      <table style="width: 100%">
        <tr>
          <td class="col">Pracownik</td>
          <td class="col" *ngFor="let day of week">{{day.format('DD dd')}}</td>
        </tr>
        <tr *ngFor="let employee of employees">
          <td class="col"> {{employee.name }}</td>
          <td class="col" *ngFor="let day of week; let i = index">
            <div class="row">
              <div class="col"
                   [ngStyle]="{'background-color': taskForTheDay(employee, day).length > 0 ? 'red' : 'transparent'}">{{
                taskForTheDay(employee, day).length }}
              </div>
            </div>
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let day of week">
    <ion-card-header>{{day.format('dddd')}}</ion-card-header>
    <ion-list>
      <ng-container *ngFor="let employee of employees">
        <ion-list-header>{{employee.name}}</ion-list-header>
        <button ion-item *ngFor="let task of taskForTheDay(employee, day); let i = index">
          <ion-icon [name]="(task.finished)?'star' : 'star-outline'" item-start></ion-icon>
          <h2>{{task.name}}</h2>
          <p> {{task.description}}</p>
        </button>
      </ng-container>

    </ion-list>
  </ion-card>

</ion-content>
