<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Szczegóły zadania</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>Nazwa zadania</ion-label>
      <ion-input type="text" [(ngModel)]="event.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Rozpoczyna się</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime"
                    [min]="minDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Kończy się</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime"
                    [min]="minDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label >Cały dzień</ion-label>
      <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label floating>Szczegóły</ion-label>
      <ion-textarea  style="height: auto; overflow: hidden" [(ngModel)]="event.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Edytor</ion-label>
      <ion-select [(ngModel)]="event.editor">
        <ion-option *ngFor="let editor of editors" [value]="editor.key">{{ editor.name }}</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <button ion-button full icon-left (click)="save()">
    <ion-icon name="checkmark"></ion-icon>
    Dodaj zadanie
  </button>
</ion-content>
